SuperATM/assy_lcdm-4000.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/PillarSideR.sldprt filter=lfs diff=lfs merge=lfs -text
SuperATM/PDoor.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/PSupportV.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/thermal[[:space:]]printer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/LightMobile.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/LockHouse.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/coin[[:space:]]acceptor[[:space:]]installer1.SLDASM filter=lfs diff=lfs merge=lfs -text
SuperATM/CoinGuide.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Copy[[:space:]]of[[:space:]]PillarSideL.sldprt filter=lfs diff=lfs merge=lfs -text
SuperATM/KeypadMetal.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CameraModule.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CardReader.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CashBarrier.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/TopFixer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Payment.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Raspberry[[:space:]]Pi[[:space:]]3.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/SafeLCDM.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/coins[[:space:]]inputs.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/DoorLock.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/ElectronicsWall.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CashAcceptorFix.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/RPiFix.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CashBoxS.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CashWall.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/ScreenAdjuster.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/LegFace.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Lock.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/PowerSupply.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/ScreenDoor.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/TouchScreen32inch.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Button.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CoinWall.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/GroundDoor.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/KeypadFixer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/SafeSideSecure.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/WiresTrack.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/BaseDispenser.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Printer[[:space:]]installer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/SafeProtector.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/ScreenTopFix.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/TouchPanel.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CRFixer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Level.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Mobile.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/0MobilePaymentV11.SLDASM filter=lfs diff=lfs merge=lfs -text
SuperATM/ElecTubeV.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/SafeDoorInsideLCDM.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/green[[:space:]]part.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/PillarATM.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CashAcceptor.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Ciabatta[[:space:]]MultiPresa[[:space:]]-[[:space:]]Power-Strip[[:space:]]Multy_Step.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/CameraAngle.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/coin[[:space:]]acceptor[[:space:]]installer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/FrontDoor.SLDPRT filter=lfs diff=lfs merge=lfs -text
./LICENSE filter=lfs diff=lfs merge=lfs -text
./README.md filter=lfs diff=lfs merge=lfs -text
./SuperATM filter=lfs diff=lfs merge=lfs -text
SuperATM/coin[[:space:]]acceptor[[:space:]]installer1.SLDASM filter=lfs diff=lfs merge=lfs -text
SuperATM/Copy[[:space:]]of[[:space:]]PillarSideL.sldprt filter=lfs diff=lfs merge=lfs -text
SuperATM/green[[:space:]]part.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Printer[[:space:]]installer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/00SuperATM.SLDASM filter=lfs diff=lfs merge=lfs -text
SuperATM/Ciabatta[[:space:]]MultiPresa[[:space:]]-[[:space:]]Power-Strip[[:space:]]Multy_Step.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/coin[[:space:]]acceptor[[:space:]]installer.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/coins[[:space:]]inputs.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/Raspberry[[:space:]]Pi[[:space:]]3.SLDPRT filter=lfs diff=lfs merge=lfs -text
SuperATM/thermal[[:space:]]printer.SLDPRT filter=lfs diff=lfs merge=lfs -text
